{% extends "base.html" %}

{% block title %}Mask Detection{% endblock %}

{% block header %}{% endblock %}

{% block workspace %}
<home_body class="col-12">
    <h1>Mask Detection Application</h1>
    <form action="/prediction" method="post">
        {{ message }}
        <br>
        <br>
        <label for="photos">Your Photos: </label> <br><br>
        <input type="file" name="image" id="image" accept="image/*">
        <br>
        <!-- <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br> -->
        <br>
        <input type="submit" name="submit" value="Submit My Photos">
    </form>
</home_body>
{% endblock %}

{% block footer %}
<!-- <footer class="col-12" id="footer">
    <h6>This is footer. Thank You.</h6>
</footer> -->
{% endblock %}